html {
  background-color: rgb(175, 174, 174);
  font-family: 'Libre Franklin', sans-serif;
}

body {
  max-width: 320px;
  margin: auto;
  background: white;
}

img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background: rgb(120, 212, 114);
  padding: 0 20px;
  position: sticky;
  top: 0;
  font-size: 18px;
  color: white;
  z-index: 10;
}

header p {
  flex-grow: 1;
}

header img {
  margin: 5px;
}

.profile-picture {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
}

.chatbox-container {
  display: flex;
  max-width: 300px;
  margin: auto;
  flex-direction: column;
  align-items: left;
  
}

.message-box {
  margin: 0 20px 20px 20px;
  max-width: 70%;
  position: relative;
  margin-bottom: 50px;
}

.message-content {
  border-radius: 15px 15px 15px 15px;
  margin: 0 0 5px 0;
  padding: 10px 15px;
  color:#f7f7f7;
}

.message-author {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: -20px;
}

.message-box-gustofer .message-author {
  left: auto;
  top: -40px;
  right: -20px

}

.message-box-gustofer {
  align-self: flex-end;
}

.message-box-gustofer .message-content {
  background: rgb(182, 182, 182); 
}

.message-box-alador .message-content {
  background: rgb(120, 212, 114);
}

.message-box-boscha .message-content {
  background: rgb(242, 140, 187);
}

.date {
  display: flex;
  align-self: center;
  margin: 5px;
}
.text-cartouche {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
}

.line-left {
  flex-grow: 1;
  margin: 5;
}

.line-right {
  flex-grow: 1;
  margin: 7;
}



footer {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

input {
  border: 0;
  background-color: rgb(242, 140, 187);
  padding: 15px;
  border-radius: 25px;
  color: white;
  margin-left: 15px;
  font-family: 'Libre Franklin', sans-serif;
}

input::placeholder {
  color: white;
  font-family: 'Libre Franklin', sans-serif;
}

button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(120, 212, 114);
  align-self: center;
  margin-right: 15px;
}